@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-danger">
    <h1 style="color:#ab2020;">Welcome to F1 Station</h1>
    <p class="lead">You can check all the up-to-date F1 drivers, teams and sponsors infromation here.</p>
    <p><a href="https://localhost:44359/Driver/List" class="btn btn-primary btn-lg">Drivers info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Drivers</h2>
        <p>
            Check out this season's official F1 line-up. Full breakdown of drivers, points and current positions. Follow your favourite F1 drivers on and off the track.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44359/Driver/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>Discover everything you need to know about this year's Formula 1 teams - drivers, podium finishes, points earned and championship titles.</p>
        <p><a class="btn btn-default" href="https://localhost:44359/Team/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sponsors</h2>
        <p>The sport is incomplete without of partners and sponsors and all the F1 teams have found good support all these years, with the list growing always.</p>
        <p><a class="btn btn-default" href="https://localhost:44359/Sponsor/List">Learn more &raquo;</a></p>
    </div>
</div>