
@{
    ViewBag.Title = "New";
}

<h2>Create Sponsor</h2>
<form action="/Sponsor/Create" method="POST">
    <div>
        <label> Name:</label> <input type="text" name="SponsorName" />
    </div>

    <div>
        <input type="submit" value="Create Sponsor" />

    </div>
</form>
